*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-first: rgba(254, 254, 254, 1);
  --c-sec: rgba(125, 175, 138, 1);
  --c-third: rgba(118, 146, 134, 1);
  --c-fourth: rgba(89, 96, 126, 1);
  --c-fifth: rgba(54, 58, 70, 1);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--c-first);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgba(40, 44, 52, 1);
}

h1 {
	text-align: center;
  font-size: 2.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


menu {
	display: flex;
	flex-direction: column;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}


li {list-style: none;}


a, a:visited {
	text-decoration: none;
  color: var(--c-first);
}

/* change edit/remove links color */
td > a > span, td > a > span:visited   {
  color: var(--c-fourth);
}

table {
	margin-top: 5rem;
	margin-bottom: 5rem;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid purple;
  box-shadow: 5px 5px 5px 0px rgba(40, 44, 52, 0.25);
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  background-color: var(--c-fourth);
  text-align: inherit;
}


td {
  color: var(--c-fifth);
  padding: 1rem;
}


input, select {
  width: 25rem;
  margin: 1rem;
}

input[type="date"],
input[type="text"],
select {
  min-height: 2.5rem;
  color: var(--c-fifth);
}

footer p {
  color: rgb(255, 255, 255);
  margin: 1rem;
}

/* classes / ID*/

.container {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.f-between {
  display: flex;
  justify-content: space-between;
}
.f-around {
  display: flex;
  justify-content: space-around;
}
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-mr-20 {
  margin-left: 20vw;
  margin-right: 20vw;
}

.ml-mr-50 {
  margin-left: 50%;
  margin-right: 50%;
}

.submit-container {
 margin-left: 25%;
 margin-right: 25%;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.btn-link {
  display: inline-block;
  width: 100%;
}

.ml-auto {margin-left: auto;}

.width50 {
  width: 50%;
}

.navbar {
  background-color: var(--c-fifth);
  padding: 1px;
}

.navbar > ul:nth-child(1) {padding-left: 0px;}


.logo {
  color: var(--c-first);
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.form-input {
  height: 1.5em;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn {
  display: block;
  color: var(--c-first);
  background-color: var(--c-fourth);
  border-color:rgba(220, 232, 245, 1);
  box-shadow: 0 0 0 .1rem rgba(220,232,245,.5);
  padding: .5rem;
  border-radius: .3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(220, 232, 245, 0.7);
  border-color:rgba(220, 232, 245, 0.5);
}

.table { max-width: 1140px;}

.table thead th {
  vertical-align: bottom;
  color: var(--c-first);
}

.table thead {
  border: 1px solid #dee2e6;
  background-color: var(--c-fourth);
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
}

.t-white {color: var(--c-first);}

.alert {color: rgba(204, 0, 102, 1);}


/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL */

/* ID */

#main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c-first);
}

#form-container {
 margin-top: 5rem;
 margin-bottom: 5rem;
}

#nav-wrapper {align-items: center;}

#add-btn {width: 180%;}
