*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-first: rgba(254, 254, 254, 1);
  --c-sec: rgba(125, 175, 138, 1);
  --c-third: rgba(118, 146, 134, 1);
  --c-fourth: rgba(89, 96, 126, 1);
  --c-fifth: rgba(54, 58, 70, 1);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  background-color: var(--c-fifth);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--c-first);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgba(40, 44, 52, 1);
}

h1 {
	text-align: center;
  font-size: 2.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


menu {
	display: flex;
	flex-direction: column;
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}


li {list-style: none;}


a, a:visited {
	text-decoration: none;
  color: var(--c-first);
}

/* change edit/remove links color */
td > a > span, td > a > span:visited   {
  color: var(--c-fourth);
}

table {
	margin-top: 5rem;
	margin-bottom: 5rem;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgba(89, 96, 126, 0.8);
  box-shadow: 3px 3px 3px 0px rgba(40, 44, 52, 0.25);
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  background-color: var(--c-fourth);
  text-align: inherit;
}

tr:nth-child(even) {
  background-color: rgba(125, 175, 138, 0.20);
}

td {
  color: var(--c-fifth);
  padding: 1rem;
}


input, select {
  width: 25rem;
  margin: 1rem;
}

input[type="date"],
input[type="text"],
input[type="password"],
select {
  min-height: 2.5rem;
  color: var(--c-fifth);
  border: #8281aa solid 1.5px;
}


input[type="text"]:focus,
input[type="password"]:focus {
  background-color: var(--c-first);
}


/* remove firefox select style */
select {
  appearance: none;
}

input[type="date"], select, focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

:invalid {
  box-shadow: none;
}


footer p {
  color: rgb(255, 255, 255);
  margin: 1rem;
}

/* classes / ID*/

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.f-between {
  display: flex;
  justify-content: space-between;
}
.f-around {
  display: flex;
  justify-content: space-around;
}
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-mr-20 {
  margin-left: 20vw;
  margin-right: 20vw;
}

.ml-mr-50 {
  margin-left: 50%;
  margin-right: 50%;
}

.submit-container {
 margin-left: 25%;
 margin-right: 25%;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.btn-link {
  display: inline-block;
  width: 100%;
}

.ml-auto {margin-left: auto;}

.width50 {width: 50%;}

.navbar {
  background-color: var(--c-fifth);
  padding: 1px;
}

.navbar > ul:nth-child(1) {padding-left: 0px;}


.logo {
  color: var(--c-first);
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.form-input {
  height: 1.5em;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn {
  display: block;
  color: var(--c-first);
  background-color: var(--c-fourth);
  border: rgba(220, 232, 245, 1) 1px solid;
  padding: .5rem;
  border-radius: .3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(220, 232, 245, 0.7);
  border-color:rgba(220, 232, 245, 0.5);
}

.table { max-width: 1140px;}

.table thead th {
  vertical-align: middle;
  color: var(--c-first);
}

.table thead {
  border: 1px solid #dee2e6;
  background-color: var(--c-fourth);
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
}

.t-white {color: var(--c-first);}

.alert {color: rgba(204, 0, 102, 1);}



/* ID */

#main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c-first);
}

#form-container, #login-container {
 margin-top: 5rem;
 margin-bottom: 5rem;
}

#nav-wrapper {
  min-width: 60%;
  align-items: center;
  justify-content: space-between;
}

#add-btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1rem;
  font-style: bold;
  width: 140%;
}

#edit-btn, #login-btn, #add-submit-btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1rem;
  font-style: bold;
  background-color: var(--c-fourth);
}

#edit-btn:hover, #login-btn:hover, #add-submit-btn:hover {
  background-color:  rgba(89, 96, 126, 0.8);
}

#logout-link {
  color: var(--c-third);
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.80);
}

#modal_dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  min-height: 50%;
  padding: 2rem;
}

#modal_text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--c-first);
  margin: 2rem;
}

#modal-btn-yes, #modal-btn-no {
  font-size: 2rem;
  color: var(--c-first);
  font-weight: bold;
  padding: 1rem 2rem;
  border: 1px solid;
  margin: 1rem;
  border-color: var(--c-fourth);
  border-radius: 25px;
  box-shadow: 2px 2px 2px 0px var(--c-fifth);
  -webkit-box-shadow: 2px 2px 2px 0px var(--c-fifth);
  -moz-box-shadow: 2px 2px 2px 0px var(--c-fifth);
  cursor: pointer;
}

#modal-btn-yes:hover, #modal-btn-no:hover {
  background-color: rgba(0,0,0, 0.0);
}

#modal-btn-no {
  color: #fe1e72;
}

#modal-btn-yes {
  color: #0b8f0bc7;
}

#modal.hidden {
  display: none;
}


/* responsive */

@media only screen and (max-width:1140px){

  /* keep extra left/right space */
  .table {
    margin: 5rem;
    width: 90%;
  }
}


@media only screen and (max-width:600px){

  /* remove Id's column */
  thead > tr > th:first-child, tbody > tr > td:first-child  {
    display: none;
  }

  /* keep extra left/right space */
  .table {
  margin: 5rem;
  width: 90%;
  }
}


@media only screen and (max-width:540px){

   /* remove brand's column */
  thead > tr > th:nth-child(6), tbody > tr > td:nth-child(6)  {
    display: none;
  }

  /* add a little margin to not stick to window */
  .table {
    margin: 5rem;
    width: 90%;
  }
}


@media only screen and (max-width:440px){

  /* more space to loose less */
  #nav-wrapper {width: 90%;}

  /* lesser space around login form */
  #login-container {margin: 1.5rem;}

  /* and inputs */
  input, select {
    width: 80vw;
    margin: 1rem;
  }

  /* remove Power column */
  thead > tr > th:nth-child(5), tbody > tr > td:nth-child(5)  {
    display: none;
  }

  /* lower margin top/bottom size */
  table {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* and remove margins */
  .table {
    width: 100%;
  }

  /* we need less padding */
  .table th, .table td {
    padding: 0.75rem;
    padding: 0.40rem;
  }

  /* more adapted modal dialog */
  #modal_dialog {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 90%;
    min-height: 90%;
    padding: 1rem;
  }

  /* same for text */
  #modal_text {
    font-size: 1.4rem;
    margin: 1rem
  }

  #modal-btn-yes, #modal-btn-no {
    font-size: 1.5rem;
    padding: 0.6rem 0.9rem;
    margin: 1rem 2rem;
  }
}